<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Pmd Project 2020</title>
    </head>
    <body class="bg-dark">
        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">PMD <br/>Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse topnav-right" id="navbarNav">
                <ul class="navbar-nav float-right">
                    <li class="nav-item active">
                        <a class="nav-link bg-danger m-auto p-2" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-primary rounded-5 m-auto p-2 " href="/upload">Upload</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Navbar End-->
        <!--Media start-->
        <div class="justify-content-around d-flex">
        	<video class="justify-content-around d-flex video-fluid z-depth-1" height="300" width="" autoplay loop controls muted>
          		<source src="{{url_for('static',filename='images/Project_pmd.mp4')}}" type="video/mp4" /> 
          		<!--{{url_for('static',filename='images/pmd.mp4')}}-->
       		</video>	
        </div>
        
        <!--Media End-->
        <!--Jumbotron start-->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Welcome To PMD Project 2020</h1>
                <p class="lead">
                    To Know More About the Project click on the read more button. <br/>Else To try out the project click on the Run Button.
                </p>
            </div>
        </div>
        <!--Jumbotron End-->
        <!--Buttons-->
        <div class="d-flex justify-content-around bg-danger p-3">
            <div class="d-flex justify-content-center"><a href="/read"><button type="button" class="btn btn-primary">Read More</button></a></div>
            <div class="d-flex justify-content-center"><a href="/upload"><button type="button" class="btn btn-success">Run </button></a></div>
        </div>
        <!--buttons end-->
        <!--Footer start-->
        <div class="card text-center bg-info ">
            <div class="card-header">
                <p class="bg-light">Instructor : JGD Ma'am </p>
            </div>
            <div class="card-body bg-warning">
                <h5 class="card-title">&copy;</h5>
                <p class="card-text">Pritam</p>
                <p class="card-text ">Manjistha</p>
                <p class="card-text ">Debayan</p>
            </div>
            <div class="card-footer text-muted bg-light">
                Updated on 25-th April,2020
            </div>
        </div>
        <!--Footer End-->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>